


    /* GENERAL */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: black;
}


body{
    background-color: #FFFF;
    width: 100%;
}



    /* HEADER */

header{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.small_screen{
    display: none;
}

.logo_R{
    width: 177px;
    margin-top: 20px;
}

nav{
    display: flex;
    align-items: center;
}

nav a{
    padding: 55px 30px 30px 30px;
}

.lienstyle{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}

nav a:hover{
    opacity: 1;
    border-top: 2px solid #0065FC;
    
}

#link1{
    color: black;
}

#link1:hover{
    color: #0065FC;
}

#link2{
    color: black;
}

#link2:hover{
    color: #0065FC;
}

#link3{
    color: #0065FC;
    font-weight: bolder;
}



    /* INTRO CONTAINER */

.intro_container{
    margin-left: 55px;
}

h1{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
}


    /* FORMULAIRE */

.formulaire_container{
    display: flex;
    height: 50px;
    min-width: 408px;
    margin: 20px 0 30px 0;
}

.form_1 input[type=submit]{
    background-color: #0065FC;
    color: white;
    width: 128px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0% 14% 13% 0% / 10% 30% 30% 10% ;
}

.form_1 input[type=submit]:hover {
    background-color: #2f82fd;
}

.form_1 input{
    width: 230px;
    height: 50px;
    border: 1px solid #0065FC;
    font-family: 'Raleway';
    font-size: 16px;
}

.form_1 input[type=search]{
    font-weight: bold;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
}

#map{
    font-size: 20px;
}

.icon_location{
    width: 50px;
    border-radius: 15px 0 0 15px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    /* FORMULAIRE 600px */

.form_1 input[type=submit_small]{
    display: none;
}

.icon_search{
    display: none;
}

    /* FILTRE */


.filtre_container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    margin-top: 30px;
}

.bloc_filtre{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filtre_container h2{
    font-size: 18px;
    margin-right: 20px;
}

    /* BOUTTON FILTRE */

.bouton_filtre{                
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #d4d4d4;
    border-radius: 50px;
    width: auto;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.bouton_filtre:hover{
    cursor: pointer;
    color: white;
    background-color: #2f82fd;
    border: 2px solid #0065FC;
}

.text_icon{
    margin-left: 5px;
}


    /* ICONE FILTRE */

#money{
    color: #0065FC;
    background-color: #cce0ff;
    border: 0px solid black;
    border-radius: 50% ;
    font-size: 22px;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 5px;
    
}

#child{
    color: #0065FC;
    background-color: #cce0ff;
    border: 0px solid black;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    font-size: 22px;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 5px;
}

#heart{
    color: #0065FC;
    background-color: #cce0ff;
    border: 0px solid black;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    font-size: 22px;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 5px;
}

#dog{
    color: #0065FC;
    background-color: #cce0ff;
    border: 0px solid black;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    font-size: 22px;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 5px;
}


    /* INFO */


.info_container{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

#info{
    color: #0065FC;
    background-color: #ffffff;
    border: 2px solid #F2F2F2;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    font-size: 13px;
    min-width: 26px;
    min-height: 26px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

    /* HEBERGEMENT */

.hebergement_populaire_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 50px 60px 50px;
}

.hebergement_container{
    flex: 2;
    padding: 20px 40px 20px 40px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.bloc_vignette{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergement_container h3{
    font-size: 25px;
    margin: 20px 0px 20px 0px;
}

#afficherplus{
    width: auto;
    margin: 20px 0px 20px 0px;
}

#afficherplus a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #F2F2F2;
    font-size: 18px;
}

    /* POPULAIRE */

.populaire_container{
    flex: 1;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 0px 40px 0px 40px;
}

.bloc_populaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.titre_pop_container{
    font-size: 22px;
    height: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icon_arrow{
    font-size: 22px;
}

    /* VIGNETTE HEBERGEMENT */

.vignette_container{
    background: #FFFF;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #d3d3d3;
    width: 30%;
    height: 250px;
    padding: 5px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vignette_container:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.img_auberge_cannebiere{
    background-image: url("../assets/hebergements/3_medium/auberge_cannebiere.jpg");
    background-size: cover;
    background-position: center;
    height: 175px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.img_hotel_du_port{
    background-image: url("../assets/hebergements/3_medium/hotel_du_port.jpg");
    background-size: cover;
    background-position: center;
    height: 175px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.img_hotel_les_mouettes{
    background-image: url("../assets/hebergements/3_medium/hotel_les_mouettes.jpg");
    background-size: cover;
    background-position: center;
    height: 175px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.img_hotel_de_la_mer{
    background-image: url("../assets/hebergements/3_medium/hotel_de_la_mer.jpg");
    background-size: cover;
    background-position: center;
    height: 175px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.img_auberge_le_panier{
    background-image: url("../assets/hebergements/3_medium/auberge_le_panier.jpg");
    background-size: cover;
    background-position: center;
    height: 175px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.img_hotel_chez_amina{
    background-image: url("../assets/hebergements/3_medium/hotel_chez_amina.jpg");
    background-size: cover;
    background-position: center;
    height: 175px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.description_container{
    width: 100%;
    padding: 5px;
}

.star_container{
    display: flex;
    flex-direction: row;
    color: #0065FC;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.star_container .star_empty{
    color: rgb(199, 197, 197);
}


.titre_vignette{
    font-size: 16px;
    font-weight: bold;
}

.text_vignette{
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}



    /* VIGNETTE POPULAIRE */

.vignette_container_pop{
    background: #FFFF;
    box-shadow: 5px 5px 5px 1px #d3d3d3;
    border-radius: 20px;
    width: 520px;
    height: 180px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.img_vignette_pop{
    width: 175px;
    height: 180px;
    padding: 5px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.description_container_pop{
    width: 255px;
}

.titre_vignette_pop{
    font-size: 18px;
    width: 80%;
    padding-top: 15px;
    margin-left: 25px;
    font-weight: bold;
}

.text_vignette_pop{
    font-size: 17px;
    margin-top: 15px;
    margin-left: 25px;
}

.star_container_pop{
    display: flex;
    flex-direction: row;
    color: #0065FC;
    font-size: 14px;
    margin-top: 50px;
    margin-left: 25px;
}

.star_container_pop .star_empty_pop{
    color: rgb(199, 197, 197);
}

.vignette_container_pop a{
    text-decoration: none;
    color: inherit;
}

.vignette_container_pop:hover{
    cursor: pointer;
    transform: scale(1.1);
}


    /* ACTIVITIES */

.activities_container{
    height: 600px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 60px;
}

.titre_activities{
    margin-bottom: 20px;
    font-size: 18px;
}

.bloc_activities{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bloc_duo1{
    display: flex;
    flex-direction: column;
    width: 23%;
    margin-right: 40px;
}

.big_bloc{
    width: 23%;
    margin-right: 40px;
}

.long_bloc1{
    display: flex;
    width: 100%;
    margin-right: 40px;
}

.bloc_duo2{
    display: flex;
    flex-direction: column;
    width: 23%;
}

.long_bloc2{
    display: flex;
    width: 100%;
}

    /* IMG + BLOC ACTIVITIES */

.img_container_activities_duo{  
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.15);
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
    width: 100%;
    height: 540px;
}

.img_vignette_activities_duo{
    width: 100%;
    height: 485px;
    border-radius: 5% 5% 0% 0% / 5% 5% 0% 0% ;
    object-fit: cover;
    object-position: 55% 0%;
}


.img_container_activities_pomegue{
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.15);
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
    width: 100%;
    height: 270px;
    margin-bottom: 40px;
}

.img_vignette_activities_pomegue{
    width: 100%;
    height: 215px;
    border-radius: 5% 5% 0% 0% / 5% 5% 0% 0% ;
    object-fit: cover;
    object-position: 50% 45%;
}

.img_container_activities_frioul{
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.15);
    border-radius: 5% 5% 5% 5% / 10% 10% 5% 5% ;
    width: 100%;
    height: 230px;
}

.img_vignette_activities_frioul{
    width: 100%;
    height: 175px;
    border-radius: 5% 5% 0% 0% / 10% 10% 0% 0% ;
    object-fit: cover;
    object-position: 50% 0%;
}

.img_container_activities_garde{
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.15);
    border-radius: 5% 5% 5% 5% / 10% 10% 5% 5% ;
    width: 100%;
    height: 250px;
    margin-bottom: 40px;
}

.img_vignette_activities_garde{
    width: 100%;
    height: 195px;
    border-radius: 5% 5% 0% 0% / 10% 10% 0% 0% ;
    object-fit: cover;
    object-position: 100% 0%;
}

.img_container_activities_longchamp{
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.15);
    border-radius: 5% 5% 5% 5% / 10% 10% 5% 5% ;
    width: 100%;
    height: 250px;
}

.img_vignette_activities_longchamp{
    width: 100%;
    height: 195px;
    border-radius: 5% 5% 0% 0% / 10% 10% 0% 0% ;
    object-fit: cover;
    object-position: 100% 25%;
}

.img_container_activities_duo a{
    text-decoration: none;
    color: inherit;
}

.img_container_activities_duo:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.img_container_activities_pomegue a{
    text-decoration: none;
    color: inherit;
}

.img_container_activities_pomegue:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.img_container_activities_frioul a{
    text-decoration: none;
    color: inherit;
}

.img_container_activities_frioul:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.img_container_activities_garde a{
    text-decoration: none;
    color: inherit;
}

.img_container_activities_garde:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.img_container_activities_longchamp a{
    text-decoration: none;
    color: inherit;
}

.img_container_activities_longchamp:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.description_container_activities{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
}


    /* FOOTER */

footer{
    background-color: #F2F2F2;
    height: 215px;
    width: 100%;
    margin-top: 60px;
    padding: 50px;
}

.bloc_footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
}

.footer a{
    text-decoration: none;
    color: inherit;
    padding-top: 10px;
    font-size: 16px;
}

.footer h2{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.nos_hebergements{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.help{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.footer a:hover{
    cursor: pointer;
    opacity: 0.8;
}


    /* MEDIA QUERIES */

@media screen and (max-width: 1505px)

{
        /* HEBERGEMENT */

    .hebergement_populaire_container{
        flex-direction: column;
    }

    .hebergement_container{
        background-color: white;
        width: 100%;
    }

    #afficherplus a{
        background-color: white;
    }

        /* POPULAIRE */

    .populaire_container{
        flex-direction: row;
        width: 100%;
    }

    .bloc_populaire{
        flex-direction: row;
        justify-content: flex-start;
    }

    .vignette_container_pop{
        width: 33%;
        height: auto;
        margin-right: 20px;
    }

    .description_container_pop{
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .titre_vignette_pop{
        margin: 0%;
        padding: 0%;
    }
    
    .text_vignette_pop{
        margin: 0%;
    }
    
    .star_container_pop{
        margin: 0%;
    }
}   

@media screen and (max-width: 1006px)

{
        /* POPULAIRE */

    .bloc_populaire{
        flex-direction: column;
        align-items: center;
    }

    .vignette_container_pop{
        width: 100%;
    }

        /* ACTIVITIES */

    .activities_container{
        height: auto;
    }

    .bloc_activities{
        flex-direction: column;
    }

    .bloc_duo1{
        width: 50%;
        margin: 0%;
    }
    
    .big_bloc{
        width: 50%;
        margin: 20px 0px 40px 0px;
    }
        
    .bloc_duo2{
        width: 50%;
        margin: 0%;
    }

}

@media screen and (max-width: 600px)

{
    html,body{
        width:100%;
        overflow-x:hidden;
        }

        /* HEADER */

    .big_screen{
        display: none;
    }

    .small_screen{
        display: flex;
        margin: 30px 0px 30px 0px;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .logo_inscription{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0px 20px 0px 20px;
    }

    img.logo_R{
        margin: 0%;
        width: 35%;
    }

    .small_screen .nav a{
        padding-top: 40px;
        padding-bottom: 25px;
    }

    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 375px;
        margin-bottom: 20px;
        padding: 0%;
        border-bottom: medium solid #F2F2F2;
    }

    .nav a:hover{
        border-top: none;
    }

    .nav:hover{
        cursor: pointer;
        border-bottom: medium solid #0065FC;
    }

    #link1{
        font-size: 16px;
    }

    #link2{
        font-size: 16px;
    }

    #link3{
        font-size: 16px;
        margin-right: 20px;
    }

        /* FORMULAIRE */

    .form_1 input[type=submit]{
        display: none;
    }

    .form_1 input[type=submit_small]{
        display: inline;
        background-color: #0065FC;
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 25% 25% 25% 25% / 25% 25% 25% 25%;
    }

    .icon_search{
        display: block;
        font-size: 20px;
        color: white;
        position: relative;
        top: 14px;
        right: 34px;
    }    

    .intro_container{
        margin: 0%;
        padding: 0%;
        margin-left: 20px;
    }

    .intro_container h1{
        width: 340px;
    }

    .intro_container p{
        margin-bottom: 40px;
    }

    .formulaire_container{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .form_1 input[type=submit]{
        display: none;
    }

    .form_1 input[type=submit_small]{
        display: inline;
        background-color: #0065FC;
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 25% 25% 25% 25% / 25% 25% 25% 25%;
        
    }

    .icon_search{
        display: block;
        font-size: 20px;
        color: white;
        position: relative;
        top: 14px;
        right: 34px;
    }

    .form_1 input[type=search]{
        font-weight: bold;
        border: 1px solid #F2F2F2;
        width: 230px;
        height: 50px;
    }

    .icon_location{
        width: 50px;
        height: 50px;
        background-color: #F2F2F2;
        border-radius: 25% 0% 0% 25% / 30% 0% 0% 30% ;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        /* INFO */

    .info_container{
        margin: 20px 0px 0px 0px;
    }

    .info_container p{
        margin: 0%;
    }

        /* FILTRE */

    .filtre_container{                                    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin: 0%;
        padding: 0%;
    }

    .bloc_filtre{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .titre_filtre{
        margin-bottom: 20px;
    }

        /* BOUTTON FILTRE */

    .bouton_filtre{                
        margin: 0%;
        padding: 0%;
        padding-right: 15px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

        /* HEBERGEMENT */

    .hebergement_populaire_container{
        display: flex;
        flex-direction: column-reverse;
        margin: 0%;
        padding: 0%;
    }

    .hebergement_container{
        flex-direction: column;
        margin: 20px 0px 0px 0px;
        padding: 0px 20px 0px 20px;
    }

    #afficherplus{
        margin-bottom: 50px;
    }

    .vignette_container{
        width: 100%;
    }

        /* POPULAIRE */

    .populaire_container{
        margin: 30px 0px 0px 0px;
        padding: 0px 20px 0px 20px;
    }

    .vignette_container_pop{
        width: 95%;
        margin: 0px 0px 20px 0px;
    }

    .img_vignette_pop{
        width: 145px;
    }

    .description_container_pop{
        padding: 10px;
    }

        /* Activities */

    .activities_container{
        margin: 0% 20px 0% 20px;
    }

    .bloc_duo1{
        width: 333px;
        margin: 0% 0% 40px 0%;
    }
    
    .big_bloc{
        width: 333px;
        height: 190px;
        margin: 0% 0% 40px 0%;
    }
        
    .bloc_duo2{
        width: 333px;
        margin: 0% 0% 40px 0%;
    }
    
    /* IMG + BLOC ACTIVITIES */

    .img_container_activities_duo{
        height: 190px;
    }
    
    .img_vignette_activities_duo{
        width: 100%;
        height: 80%;
    }
    
    
    .img_container_activities_pomegue{
        height: 190px;
    }
    
    .img_vignette_activities_pomegue{
        width: 100%;
        height: 80%;
    }
    
    .img_container_activities_frioul{
        height: 190px;
    }
    
    .img_vignette_activities_frioul{
        width: 100%;
        height: 80%;
    }
    
    .img_container_activities_garde{
        height: 190px;
    }
    
    .img_vignette_activities_garde{
        width: 100%;
        height: 80%;
    }
    
    .img_container_activities_longchamp{
        height: 190px;
    }
    
    .img_vignette_activities_longchamp{
        width: 100%;
        height: 80%;
    }

        /* FOOTER */

    footer{                                    
        margin: 10px 0% 0% 0%;
        padding: 50px 20px 50px 20px;
        height: auto;
    }
    
    .bloc_footer{
        flex-direction: column;
        width: 100%;
    }
    
    .about{
        width: 100%;
        margin-bottom: 45px;
    }
    
    .nos_hebergements{
        width: 100%;
        margin-bottom: 45px;
    }
    
    .help{
        width: 100%;
    }
}   