


/* General */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: black;
}


body{
    background-color: #F2F2F2;
}


.bloc_page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/* Header */



header{
    height: 140px;
    width: 100%;
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav a{
    padding: 25px;
}

.lienstyle{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}

a:hover{
    opacity: 1;
}

img.resize {
    width: 30%;
    height: auto;
}

#link1{
    color: #0065FC;
}

#link2{
    color: black;
}

#link3{
    color: #0065FC;
    font-weight: bolder;
}



/* Titre et sous titre */


.intro_container{
    padding-left: 60px;
}

h1{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
}


/* Formulaire Recherche */

.formulaire_container{
    padding-left: 80px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.form_1 input[type=submit]{
    background-color: #0065FC;
    color: white;
    width: 130px;
    height: 50px;
    border-radius: 0% 14% 13% 0% / 10% 30% 30% 10% ;
}

.form_1 input[type=submit]:hover {
    background-color: #2f82fd;
}

.form_1 input{
    width: 200px;
    height: 60px;
    font-weight: bold;
    border: 2px solid white;
    font-family: 'Raleway';
    font-size: 16px;
}

.form_1 input[type=search]{
    font-weight: bold;
}

#map{
    display: inline-block;
    padding-top: 20px;
    padding-right: 40px;
    font-size: 22px;
}


/* Barre de filtre */


.filtre_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    width: 60%;
    padding-left: 60px;
    padding-top: 25px;
}

.filtre_container h2{
    font-size: 19px;
}

.filtre a{
    text-decoration: none;
    color: black;
}

.filtre{                /* bouton des filtres */
    width: auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 20px;
    background-color: white;
    color: black;
    font-family: 'Raleway';
    font-size: 19px;
    font-weight: bold;
    border: 1px solid #F2F2F2;
    box-shadow: 1px 1px 2px;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50% ;
    cursor: pointer;
    opacity: 0.9;
}

.filtre :hover{
    opacity: 1;
    color: #2f82fd;
}

.list_filtre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}


    /* icons */


#money{
    color: #0065FC;
    background-color: #cce0ff;
    border: 0px solid black;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    font-size: 22px;
    width: 50px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 45px;
    z-index: 10;
    
}


#child{
    color: #0065FC;
    background-color: #cce0ff;
    border: 0px solid black;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    font-size: 22px;
    width: 50px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 45px;
    z-index: 10;
}

#heart{
    color: #0065FC;
    background-color: #cce0ff;
    border: 0px solid black;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    font-size: 22px;
    width: 50px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 45px;
    z-index: 10;
}

#dog{
    color: #0065FC;
    background-color: #cce0ff;
    border: 0px solid black;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    font-size: 22px;
    width: 47px;
    height: 47px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 45px;
    z-index: 10;
}


    /* Info */


.info_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 60px;
    padding-top: 25px;
    
}

#info{
    color: #0065FC;
    background-color: #F2F2F2;
    border: 1px solid rgb(202, 201, 201);
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    font-size: 13px;
    width: 22px;
    height: 22px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info_container p{
    padding-left: 15px;
}


/* Section hébergements */

.heber_pop_col{
    display: flex;
}

.hebergement_container{
    padding-left: 60px;
    width: 80%;
    height: 490px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titre_hebergement{
    padding-left: 60px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.afficher a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    top: 10px;
    font-size: 18px;
    padding-left: 60px;
}


/* Vignettes */

.vignette_container{
    background: #F2F2F2;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10% ;
    width: 300px;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vignette_container a{
    text-decoration: none;
    color: inherit;
}

.vignette_container:hover{
    cursor: pointer;
    transform: scale(1.1);
}



.img_vignette{
    padding-left: 5px;
    padding-right: 5px;
    width: 295px;
    height: 130px;
    border-radius: 10% 10% 0% 0% / 15% 15% 10% 10% ;
    object-fit: cover;
    
}

.star_container{
    display: flex;
    flex-direction: row;
    color: #0065FC;
    font-size: 10px;
}

.star_container .star_empty{
    color: rgb(199, 197, 197);
}

.description_container{
    width: 255px;
}

.titre_vignette{
    font-size: 14px;
    padding-bottom: 4px;
    font-weight: bold;
}

.text_vignette{
    padding-top: 4px;
    padding-bottom: 8px;
    font-size: 13px;
}

    /* Populaire */

.bloc_populaire{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.titre_pop_icon{
    padding-top: 60px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

#icon_arrow{
    position: relative;
    left: 100px;
    font-size: 22px;
}

/* Vignette Populaire */

.vignette_container_pop{
    background: #F2F2F2;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10% ;
    width: 345px;
    height: 145px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.img_vignette_pop{
    width: 130px;
    height: 135px;
    margin: 5px;
    border-radius: 10% 0% 0% 10% / 10% 10% 10% 10% ;
    object-fit: cover;
}

.description_container_pop{
    width: 255px;
}

.titre_vignette_pop{
    font-size: 14px;
    width: 80%;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 4px;
    font-weight: bold;
}

.text_vignette_pop{
    padding-top: 4px;
    padding-bottom: 8px;
    font-size: 13px;
    padding-left: 20px;
}

.star_container_pop{
    display: flex;
    flex-direction: row;
    color: #0065FC;
    font-size: 10px;
    position: relative;
    top: 45px;
    padding-left: 20px;
}

.star_container_pop .star_empty_pop{
    color: rgb(199, 197, 197);
}

.vignette_container_pop a{
    text-decoration: none;
    color: inherit;
}

.vignette_container_pop:hover{
    cursor: pointer;
    transform: scale(1.1);
}


/* Activités */

.titre_activities{
    padding-left: 60px;
    padding-top: 150px;
    padding-bottom: 25px;
    font-size: 18px;
}

.bloc_activities{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
}

.bloc_item1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}

.flex_item_1{
    flex-basis: 16%;
    height: 440px;
}

.flex_item_2{
    flex-basis: 16%;
    height: 390px;
}

.flex_item_3{
    flex-basis: 16%;
    height: 390px;
}

.bloc_item2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}

/* Vignette Activités */

.img_container_activities_duo{
    background: #F2F2F2;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
    width: 304px;
    height: 440px;
}

.img_vignette_activities_duo{
    width: 304px;
    height: 390px;
    border-radius: 5% 5% 0% 0% / 5% 5% 0% 0% ;
    object-fit: cover;
}

.img_container_activities_pomegue{
    background: #F2F2F2;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
    width: 304px;
    height: 230px;
}

.img_vignette_activities_pomegue{
    width: 304px;
    height: 180px;
    border-radius: 5% 5% 0% 0% / 5% 5% 0% 0% ;
    object-fit: cover;
}

.img_container_activities_frioul{
    background: #F2F2F2;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
    width: 304px;
    height: 160px;
}

.img_vignette_activities_frioul{
    width: 304px;
    height: 110px;
    border-radius: 5% 5% 0% 0% / 5% 5% 0% 0% ;
    object-fit: cover;
}

.img_container_activities_garde{
    background: #F2F2F2;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
    width: 304px;
    height: 190px;
}

.img_vignette_activities_garde{
    width: 304px;
    height: 140px;
    border-radius: 5% 5% 0% 0% / 5% 5% 0% 0% ;
    object-fit: cover;
}

.img_container_activities_longchamp{
    background: #F2F2F2;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
    width: 304px;
    height: 205px;
}

.img_vignette_activities_longchamp{
    width: 304px;
    height: 155px;
    border-radius: 5% 5% 0% 0% / 5% 5% 0% 0% ;
    object-fit: cover;
}

.img_container_activities_duo a{
    text-decoration: none;
    color: inherit;
}

.img_container_activities_duo:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.img_container_activities_pomegue a{
    text-decoration: none;
    color: inherit;
}

.img_container_activities_pomegue:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.img_container_activities_frioul a{
    text-decoration: none;
    color: inherit;
}

.img_container_activities_frioul:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.img_container_activities_garde a{
    text-decoration: none;
    color: inherit;
}

.img_container_activities_garde:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.img_container_activities_longchamp a{
    text-decoration: none;
    color: inherit;
}

.img_container_activities_longchamp:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.description_container_activities{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
}

/* Footer */

.footer{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 100px;
    padding-left: 60px;
}

.footer a{
    text-decoration: none;
    color: inherit;
    padding-top: 10px;
    font-size: 15px;
}

.footer h2{
    font-size: 18px;
    font-weight: bold;
}

.about{
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
}

.nos_hebergements{
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
}

.help{
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
}

.footer a:hover{
    cursor: pointer;
    opacity: 0.8;
}